* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    align-items: center;
}

table {
    width: 100%;
    padding-top: 55px;
}

.nav {
    width: 1100px;
    margin: auto;
    align-items: center;
    display: flex;
}

.circle {
    width: 65px;
    height: 65px;
    border: 2px solid #2a69a6;
    color: #2a69a6;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

.circle:hover {
    background: #2a69a6;    
}

.header {
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 14pt;
    text-align: center;
    padding-top: 19px;
}

.text {
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 14pt;
    text-align: center;
    padding-top: 25px;
}

div.circle:hover path {
    fill: white;
    background: white;
}
