* {
    margin: 0;
    padding: 0;
}

.nav, svg {
    width: 500px;
    height: 500px;
}

.st0,
.st1,
.st2,
.st3,
.st4,
.st5,
.st6 {
    fill-opacity: 0.1;
    stroke-opacity: 0.1;
}


div.nav:hover path {
    
    stroke-width: 7;
    top: -2px;    
    
    transition: .5s;
    
}
div.nav .st0:hover {
    fill: #706F6F;
    stroke: red;
    stroke-width: 6;
    transition: .5s;
    fill-opacity: 1;
    stroke-opacity:1;
    stroke-width:8.2068;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
}
div.nav .st1:hover {
    fill: #867D00;
    stroke: red;
    stroke-width: 6;
    transition: .5s;
    fill-opacity: 1;
    stroke-opacity:1;
    stroke-width:8.2068;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
}
div.nav .st2:hover {
    fill: #5B3100;
    stroke: red;
    stroke-width: 6;
    transition: .5s;
    fill-opacity: 1;
    stroke-opacity:1;
    stroke-width:8.2068;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
}
div.nav .st3:hover {
    fill: #FFCC03;
    stroke: red;
    stroke-width: 6;
    transition: .5s;
    fill-opacity: 1;
    stroke-opacity:1;
    stroke-width:8.2068;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
}
div.nav .st4:hover {
    fill: #FFED00;
    stroke: red;
    stroke-width: 6;
    transition: .5s;
    fill-opacity: 1;
    stroke-opacity:1;
    stroke-width:8.2068;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
}
div.nav .st5:hover {
    fill: black;
    stroke: red;
    stroke-width: 6;
    transition: .5s;
    fill-opacity: 1;
    stroke-opacity:1;
    stroke-width:8.2068;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
}

div.nav .st6:hover {
    fill: #95CEBA;
    stroke: red;
    stroke-width: 6;
    transition: .5s;
    fill-opacity: 1;
    stroke-opacity:1;
    stroke-width:8.2068;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
}