@font-face {
  font-family: 'SF';
  src: url(../font/SFCompactRounded-Bold.otf);
}

@font-face {
  font-family: 'SFThin';
  src: url(../font/SF-Compact-Rounded-Thin.ttf);
}

@font-face {
  font-family: 'SFPro';
  src: url(../font/FontsFree-Net-SFProDisplay-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/HeaderBG.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1280px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__text {
  height: 100vh;
}

@media (max-width: 1280px) {
  .header__text {
    width: 100%;
    height: 50vh;
    text-align: center;
  }
}

.header__title {
  color: #fff;
  font-family: 'SF';
  font-weight: bold;
  font-size: 70px;
  line-height: 95px;
}

.header__description {
  padding-top: 25px;
  color: #fff;
  font-family: 'SF';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.header__span {
  background: url(../img/Line.png);
  background-size: cover;
  background-position: top;
}

@media (max-width: 1280px) {
  .header__bots {
    width: 100%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.botIm {
  height: 100%;
}

.inner_header {
  padding: 0 0 0 166px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1280px) {
  .inner_header {
    padding: 0 10px 0 10px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.scrolling {
  text-decoration: none;
}

.scrolling:hover .button {
  background: transparent;
  border: 2px solid #FFDC39;
  color: #FFDC39;
}

.button {
  width: 300px;
  height: 80px;
  background: #FFDC39;
  border-radius: 40px;
  font-family: 'SFPro';
  font-size: 20px;
  line-height: 24px;
  -webkit-transition: 1s;
  transition: 1s;
  border: none;
}

.big_section {
  background-color: #FEF9EE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big_section:hover .img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.first_section {
  background-color: #FEF9EE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 70px;
}

.wrapper {
  width: 100%;
  max-width: 1120px;
}

.wrapper_small {
  max-width: 800px;
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 1000px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    max-width: 400px;
  }
}

@media (max-width: 414px) {
  .wrapper {
    max-width: 370px;
  }
}

@media (max-width: 375px) {
  .wrapper {
    max-width: 300px;
  }
}

.inner_big {
  width: 100%;
  padding: 40px 70px 40px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

@media (max-width: 414px) {
  .inner_big {
    padding: 20px 20px 20px 20px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.inner_test {
  width: 100%;
  padding: 40px 70px 40px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 414px) {
  .inner_test {
    padding: 20px 20px 20px 20px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.big {
  min-height: 350px;
  min-width: 300px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 67px rgba(81, 67, 116, 0.08);
          box-shadow: 0px 4px 67px rgba(81, 67, 116, 0.08);
  border-radius: 20px;
  margin-top: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 768px) {
  .big {
    max-width: 535px;
  }
}

.big:hover .big__btn {
  background: #039BE5;
}

.big:hover .big__img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.big__title {
  font-family: 'SF';
  font-size: 20px;
  line-height: 24px;
}

.big__about {
  font-family: 'SFThin';
  font-size: 16px;
  line-height: 19px;
}

.big__btn {
  width: 194px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: #E5F4FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.big__button {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: 'SF';
  font-size: 13px;
  line-height: 16px;
}

.big__img {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.test {
  width: 100%;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test__item {
  min-height: 350px;
  max-width: 535px;
  min-width: 300px;
  width: 50%;
  margin-top: 35px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 67px rgba(81, 67, 116, 0.08);
          box-shadow: 0px 4px 67px rgba(81, 67, 116, 0.08);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .test__item {
    width: 100%;
  }
}

.test__item:hover .test__btn {
  background: #039BE5;
}

.test__item:hover .test__img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.test__title {
  font-family: 'SF';
  font-size: 20px;
  line-height: 24px;
}

.test__about {
  font-family: 'SFThin';
  font-size: 16px;
  line-height: 19px;
}

.test__btn {
  width: 194px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: #E5F4FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.test__button {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: 'SF';
  font-size: 13px;
  line-height: 16px;
}

.test__img {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 414px) {
  .left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 414px) {
  .right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.img {
  position: absolute;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media (max-width: 1280px) {
  .img {
    display: none;
  }
}

.second_section {
  width: 100%;
  min-height: 670px;
  background-image: url(../img/HowItWork.jpg);
  background-size: cover;
  background-position: center right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.inner_second {
  height: 100%;
  width: 100%;
  padding: 0 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about {
  min-height: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about__text {
  font-family: 'SF';
  font-size: 48px;
  line-height: 57px;
  color: #fff;
}

.about__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 768px) {
  .about__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__item {
  min-width: 220px;
  max-width: 220px;
  min-height: 240px;
  border-radius: 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .about__item {
    min-width: 180px;
    max-width: 180px;
    min-height: 170px;
    max-height: 200px;
  }
}

.about__txt {
  text-align: center;
  font-family: 'SF';
  font-size: 18px;
  line-height: 21px;
}

.third_section {
  width: 100%;
  min-height: 620px;
  background-image: url(../img/PartnersBG.jpg);
  background-size: cover;
  background-position: center left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.inner_partners {
  width: 100%;
  padding: 165px 20px 160px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.partners {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__title {
  font-family: 'SF';
  font-size: 48px;
  line-height: 57px;
  padding-bottom: 100px;
}

.partners__list {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .partners__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer {
  width: 100%;
  min-height: 160px;
  background-image: url(../img/HeaderBG.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__list {
  width: 50%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  font-family: 'SFThin';
  font-size: 18px;
  line-height: 21px;
  opacity: 0.5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer__link:hover {
  opacity: 1;
}

.footer__social {
  width: 20%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
/*# sourceMappingURL=main.css.map */