* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto-Bold.ttf");
}

.bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-image: url(../images/BG.jpg);
  background-size: cover;
  background-position: center;
}

.content {
  position: absolute;
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
}

.header {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__link {
  text-decoration: none;
  color: #fff;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 25px;
  opacity: 0.4;
  font-weight: 700;
  -webkit-transition: 1s;
  transition: 1s;
}

.header__link:hover {
  opacity: 1;
  text-decoration: underline;
}

.header__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__content {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.about__skills {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__skillsitem {
  background-color: #00FF24;
  color: grey;
  margin: 5px;
  padding: 10px;
  border: 3px solid green;
  border-radius: 15px;
}

.about__photo {
  max-width: 200px;
}

.about__img {
  width: 100%;
  border-radius: 15px;
}

.about__text {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  color: #00FF24;
}

.about__text_skills {
  width: 100%;
  font-size: 22px;
  margin-bottom: 30px;
}

.about__text-small {
  font-size: 16px;
}

.about__items {
  list-style: none;
}

.inner_cont {
  padding: 15px 15px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.inner_txt {
  padding-left: 15px;
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  max-width: 300px;
}

.logoimg {
  width: 100%;
}

.title {
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  color: #00FF24;
  text-decoration: underline;
  padding: 30px 30px 30px 30px;
}

.title_left {
  text-align: start;
}

.scroll {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  padding: 50px 0 50px 0;
}

.gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__content {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.gallery__logos {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item {
  width: 33.33333%;
}

@media (max-width: 480px) {
  .gallery__item {
    width: 50%;
  }
}

@media (max-width: 375px) {
  .gallery__item {
    width: 100%;
    max-width: 300px;
  }
}

.gallery__logo {
  width: 100%;
}

.gallery__drawings {
  width: 100%;
}

.gallery__drawing {
  width: 100%;
  border-radius: 5px;
}

.gallery__sites {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gallery__site {
  width: 50%;
  min-width: 300px;
  max-width: 300px;
  border-radius: 5px;
}

.gallery__img {
  width: 100%;
  border-radius: 5px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gallery__img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__content {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.contact__items {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact__item {
  width: 35px;
  height: 35px;
}

.contact__item:hover .icons {
  fill: #00FF24;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.footer {
  width: 100%;
  background-color: #000;
  padding: 50px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  color: #fff;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
}

.footer__logo {
  max-width: 250px;
  margin-top: 50px;
}

.icons {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slide-fade-enter-active {
  -webkit-transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-leave-active {
  -webkit-transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  opacity: 0;
}

.box {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link {
  text-decoration: none;
  color: #00FF24;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
}
/*# sourceMappingURL=main.css.map */