* {
  margin: 0;
  padding: 0;
}

body {
  background: #f2efe5;
}

.header {
  width: 100vw;
  min-height: 500px;
  background-image: url(../img/BgHeader1920_1.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 375px) {
  .header {
    min-height: 480px;
    background-position: -600px;
  }
}

.header__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  fill: red;
}

.header__content {
  width: 100%;
  position: relative;
}

.header__open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__items {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__link:hover {
  text-decoration: underline;
  color: blueviolet;
}

.header__item {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20pt;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px;
}

.header__toogle {
  -webkit-transition: 1s;
  transition: 1s;
}

.header__toogle:hover {
  fill: royalblue;
}

.header__close {
  -webkit-transition: 1s;
  transition: 1s;
}

.header__close:hover {
  fill: royalblue;
}

.main {
  width: 100vw;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__about {
  width: 50%;
  background-image: url(../img/studio_bg.jpeg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .about__about {
    width: 100%;
  }
}

.about__title {
  min-width: 295px;
  min-height: 90px;
  border: 15px solid #010101;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 36pt;
  font-weight: 700;
  text-transform: uppercase;
  color: #010101;
}

@media (max-width: 800px) {
  .about__title {
    min-width: 90px;
  }
}

.about__description {
  width: 50%;
}

@media (max-width: 800px) {
  .about__description {
    width: 100%;
  }
}

.about__logo {
  width: 100%;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about__article {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18pt;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
}

.about__txt {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16pt;
  font-weight: 400;
}

.about__gallery {
  width: 100%;
  min-height: 455px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__items {
  width: 100%;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.about__item {
  width: 16.66667%;
}

.about__item:hover .hover {
  opacity: 1;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

@media (max-width: 1024px) {
  .about__item {
    width: 25%;
  }
}

@media (max-width: 800px) {
  .about__item {
    width: 50%;
  }
}

.about__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__photo {
  width: 100%;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}

.popup_bg {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.popup_img {
  width: 500px;
}

@media (max-width: 480px) {
  .popup_img {
    width: 300px;
  }
}

.popup_img1 {
  width: 650px;
}

@media (max-width: 480px) {
  .popup_img1 {
    width: 300px;
  }
}

.inner {
  padding: 85px;
}

@media (max-width: 800px) {
  .inner {
    padding: 20px;
  }
}

.hover {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  opacity: 0;
}

.hover__zoom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.animate {
  padding-top: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
}

.a {
  fill: transparent;
}

.container {
  width: 100%;
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.reviews {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.reviews__review {
  width: 100vw;
  min-height: 350px;
  background-image: url(../img/Livello1.jpeg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.reviews__review-second {
  background-image: url(../img/Livello2.jpeg);
}

.reviews__review-third {
  background-image: url(../img/Livello3.jpeg);
  color: #000;
}

.reviews__text {
  max-width: 100%;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.reviews__description {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24pt;
  color: #f2efe5;
}

.reviews__description-third {
  color: #000;
}

.reviews__author {
  text-align: end;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14pt;
  text-transform: uppercase;
  color: #f2efe5;
}

.reviews__author-third {
  color: #000;
}

.team_section {
  width: 100vw;
}

.container_team {
  height: 100%;
  max-height: 500px;
  padding: 0 45px 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team {
  width: 100%;
}

.team__items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__item {
  width: 33.33333%;
  max-height: 500px;
}

@media (max-width: 1024px) {
  .team__item {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .team__item {
    width: 100%;
  }
}

.team__item-color {
  background-color: #ccc8b6;
}

.team__item-white {
  background-color: #f2efe5;
  min-height: 300px;
}

.team__img {
  width: 100%;
}

.team__header {
  width: 33.33333%;
  max-height: 500px;
  background-image: url(../img/team.jpeg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .team__header {
    width: 100%;
    min-height: 500px;
  }
}

.team__title {
  min-width: 295px;
  min-height: 90px;
  border: 15px solid #010101;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 36pt;
  font-weight: 700;
  text-transform: uppercase;
  color: #010101;
}

@media (max-width: 800px) {
  .team__title {
    min-width: 90px;
  }
}

.team__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.team__details-small {
  height: 200px;
}

.team__name {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24pt;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.team__name-size {
  font-size: 14pt;
  text-align: start;
}

.team__description {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12pt;
  font-weight: 400;
}

.team__description-size {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;
  text-transform: uppercase;
  text-align: start;
}

.team__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team__svg {
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.team__svg:hover {
  opacity: 1;
}

.team__search {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  border: 2px solid #000;
  background-color: transparent;
}

.team__search::-webkit-input-placeholder {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 15px;
}

.team__search:-ms-input-placeholder {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 15px;
}

.team__search::-ms-input-placeholder {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 15px;
}

.team__search::placeholder {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 15px;
}

.team__button {
  height: 45px;
  background-color: #9a977a;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;
  font-weight: 400;
  color: #fff;
}

.wrap {
  width: 100%;
  max-width: 700px;
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.twitter {
  width: 100vw;
  min-height: 350px;
  background-image: url(../img/Livello1.jpeg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.twitter__text {
  max-width: 800px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20pt;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 480px) {
  .twitter__text {
    max-width: 250px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.gallery_section {
  width: 100%;
}

.gallery {
  width: 100%;
}

.gallery__items {
  width: 100%;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.gallery__header {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #afac9c;
}

@media (max-width: 1024px) {
  .gallery__header {
    width: 50%;
    min-height: 190px;
  }
}

@media (max-width: 800px) {
  .gallery__header {
    width: 100%;
  }
}

.gallery__title {
  width: 50%;
  min-height: 90px;
  border: 15px solid #010101;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 36pt;
  font-weight: 700;
  text-transform: uppercase;
  color: #010101;
}

@media (max-width: 800px) {
  .gallery__title {
    min-width: 250px;
  }
}

.gallery__item {
  width: 20%;
}

.gallery__item:hover .hover {
  opacity: 1;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

@media (max-width: 1024px) {
  .gallery__item {
    width: 25%;
  }
}

@media (max-width: 800px) {
  .gallery__item {
    width: 33.33333%;
  }
}

.gallery__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__photo {
  width: 100%;
}

.inner_cont {
  padding: 100px;
  background-color: #e7e5d0;
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__title {
  width: 300px;
  min-height: 90px;
  border: 15px solid #010101;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30pt;
  font-weight: 700;
  text-transform: uppercase;
  color: #010101;
}

@media (max-width: 800px) {
  .contact__title {
    min-width: 250px;
  }
}

.contact__description {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18pt;
  font-weight: 400;
}

.contact__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contact__info {
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16pt;
  font-weight: 700;
}

.cont_left {
  width: 50%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont_right {
  width: 50%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left_ab {
  width: 50%;
}

.right_ab {
  width: 50%;
}

.slide-fade-enter-active {
  -webkit-transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-leave-active {
  -webkit-transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */