* {
    margin: 0;
    padding: 0; 
}

.all {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: url('../img/Body.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.content {    
    margin:121px;
    height: 700px;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 42pt;
}

.text,
.text1 {
    margin-top: 38px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    line-height: 34pt;
    font-kerning: inherit;
}

.text2, .t {
    font-family: 'Lato', sans-serif;
    font-size: 24pt;
    font-weight: 400;
    text-transform: italic;
    text-align: center;
}

.text2::first-letter {
}

.text::first-letter {
    color: #000;
    float: left;
    font-family: 'Playfair Display', serif;
    font-size: 110pt;
    line-height: 110px;
    padding-top: 2px;
    padding-right: 22px;
    padding-left: 3px;
}