* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
}

.container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 0 0 auto;
    align-items: center;
}

.input {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/Header.jpeg);
    background-size: cover;

    &__title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 37px;
        letter-spacing: 11px;
        font-style: 600;
        text-transform: uppercase;
        color: #fff;
    }

    &__description {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 17px;
        letter-spacing: 9px;
        font-style: 300;
        color: #fff;
    }

    &__searchfeald {
        display:flex;
        width: 100%;
        max-width: 650px;
        margin-top: 48px;
        border:none;
        background: #fff;
        align-items: center;
        justify-content: space-between;
    }

    &__input {
        width: 100%;
        height: 45px;
        text-align: center;
        border: none;

        &::placeholder{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 10px;
            letter-spacing: 4px;
            font-style: 300;
        }
    }

    &__button {
        width: 145px;
        height: 45px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        background-color: #5474fd;
        border: none;
    }

    &__search {
        font-family: 'Aleo', serif;
        font-size: 10px;
        font-style: 400;
        text-transform: uppercase;
        color: #fff;
    }

    &__scroll {
        margin-top: 118px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    &__scrolltxt {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 10px;
        letter-spacing: 4px;
        font-style: 300;
        color: #fff;
    }
}

.bccolor {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    flex: 0 0 auto;
    background: #5474fd;
}

.navcontainer {
    margin-top: 25px;
    margin-bottom: 25px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    &__title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 18px;
        letter-spacing: 5px;
        font-style: 700;
        text-transform: uppercase;
        color: #fff;       
    }

    &__menu {
        width: 50%;
    }

    &__items {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        color: #fff;        
    }
    
    &__item {
        font-family: 'Aleo', serif;
        font-size: 10px;
        font-style: 400;
        text-transform: uppercase;
                        
        &:hover {
            font-size: 15px;
            transition: 0.2s;
        }
    }
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/Second.jpeg);
    background-size: cover;
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    &__title {
        font-family: 'Aleo', serif;
        font-size: 36pt;
        font-style: 400;
        color: #fff;
        margin-bottom: 70px;
    }

    &__description {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16pt;
        font-style: 300;
        color: #fff;
    }

    &__img1 {
        align-self: flex-end;
    }
}

.left {
    width: 50%;
    margin-right: 15px;
}

.right {
    width: 50%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.image {
    margin-left: 65px;
}

