@font-face {
  font-family: caligr;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: neo;
  src: url(../fonts/clip.regular.ttf);
}

@font-face {
  font-family: neon;
  src: url(../fonts/MontserratAlternates-BlackItalic.ttf);
}

@font-face {
  font-family: lobster;
  src: url(../fonts/Lobster-Regular.ttf);
}

@font-face {
  font-family: play;
  src: url(../fonts/Play-Regular.ttf);
}

@font-face {
  font-family: playB;
  src: url(../fonts/Play-Bold.ttf);
}

@font-face {
  font-family: ussr;
  src: url(../fonts/USSR_STENCIL.ttf);
}

@font-face {
  font-family: ogilvie;
  src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
  font-family: ag;
  src: url(../fonts/AGZeppelin_Oblique_.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.preload {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f0e90;
  z-index: 20;
}

.prelsquare {
  width: 200px;
  height: 200px;
  -webkit-animation: prel 10s linear 0s infinite running;
          animation: prel 10s linear 0s infinite running;
}

.unvisible {
  position: relative;
  background: url(../images/SVG/Unvisible.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.visible1 {
  position: absolute;
  background: url(../images/SVG/YellowStar.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: prel 9s linear 0s infinite running;
          animation: prel 9s linear 0s infinite running;
}

.visible2 {
  position: absolute;
  background: url(../images/SVG/GreenStar.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: prel 8s linear 0s infinite running;
          animation: prel 8s linear 0s infinite running;
}

.visible3 {
  position: absolute;
  background: url(../images/SVG/BlueStar.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: prel 7s linear 0s infinite running;
          animation: prel 7s linear 0s infinite running;
}

.visible4 {
  position: absolute;
  background: url(../images/SVG/PinkStar.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: prel 6s linear 0s infinite running;
          animation: prel 6s linear 0s infinite running;
}

@-webkit-keyframes prel {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes prel {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.cubecont {
  position: relative;
  padding: 40px 0 40px 0;
  width: 100px;
  height: 400px;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

.cube {
  height: inherit;
  width: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: 30s linear 0s normal none infinite running rotate;
          animation: 30s linear 0s normal none infinite running rotate;
}

.cubeimg {
  width: 100%;
  height: 100%;
}

.side {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.front {
  width: 100px;
  height: 400px;
  -webkit-transform: translateZ(10px);
          transform: translateZ(10px);
  background: url(../images/SVG/STBack.svg);
  background-position: center;
  background-position: center;
  background-size: 100%;
  border: 2px solid #1616dd;
}

.front-olas {
  background: url(../images/SVG/STOlasFasad.svg);
  border: 2px solid #907b1d;
}

.front-candy {
  background: url(../images/SVG/STCandyFasad.svg);
  border: 2px solid #8a16c4;
}

.back {
  width: 100px;
  height: 400px;
  -webkit-transform: rotateY(180deg) translateZ(10px);
          transform: rotateY(180deg) translateZ(10px);
  background: url(../images/SVG/STFasad.svg);
  background-position: center;
  background-position: center;
  background-size: 100%;
  border: 2px solid #1616dd;
}

.back-olas {
  background: url(../images/SVG/STOlasBack.svg);
  border: 2px solid #907b1d;
}

.back-candy {
  background: url(../images/SVG/STCandyBack.svg);
  border: 2px solid #8a16c4;
}

.right {
  width: 20px;
  height: 400px;
  -webkit-transform: rotateY(90deg) translateZ(50px);
          transform: rotateY(90deg) translateZ(50px);
  background: #d0d0f2;
  border: 2px solid #1616dd;
}

.right-olas {
  background: #fcd833;
  border: 2px solid #907b1d;
}

.right-candy {
  background: #9a72ae;
  border: 2px solid #670697;
}

.left {
  width: 20px;
  height: 400px;
  -webkit-transform: rotateY(-90deg) translateZ(50px);
          transform: rotateY(-90deg) translateZ(50px);
  background: #d0d0f2;
  border: 2px solid #1616dd;
}

.left-olas {
  background: #fcd833;
  border: 2px solid #907b1d;
}

.left-candy {
  background: #9a72ae;
  border: 2px solid #8a16c4;
}

.conttext {
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
}

@-webkit-keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.title {
  width: 100%;
  margin-bottom: 40px;
  font-family: neon;
  font-size: 65px;
  color: #ffc72c;
  text-shadow: 0 0 15px #0f0e90;
}

.title-azs {
  font-family: lobster;
  font-size: 40px;
  -webkit-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

.title-azs._active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.title-blink {
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.title-blink._active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.title-blink b {
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ffc72c, 0 0 0.5em #ffc72c, 0 0 0.1em #ffc72c, 0 5px 1px #000;
}

.title-blink b span {
  -webkit-animation: blink linear infinite 4s;
          animation: blink linear infinite 4s;
}

.title-blink b span:nth-of-type(2) {
  -webkit-animation: blink linear infinite 6s;
          animation: blink linear infinite 6s;
}

.title-menu {
  font-family: lobster;
  width: 100%;
  text-align: center;
  color: #ffc72c;
  text-shadow: none;
  font-size: 35px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 50px;
    margin-bottom: 20px;
  }
}

.main-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 50px 0;
  background: linear-gradient(45deg, #d0d0f2, #0f0e90);
}

.strongitems {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .strongitems {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.strongitems li {
  -webkit-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.strongitems._active li {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.strongitems._active li:nth-child(1) {
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.strongitems._active li:nth-child(2) {
  -webkit-transition: -webkit-transform 0.8s ease 0.4s;
  transition: -webkit-transform 0.8s ease 0.4s;
  transition: transform 0.8s ease 0.4s;
  transition: transform 0.8s ease 0.4s, -webkit-transform 0.8s ease 0.4s;
}

.strongitems._active li:nth-child(3) {
  -webkit-transition: -webkit-transform 0.8s ease 0.6s;
  transition: -webkit-transform 0.8s ease 0.6s;
  transition: transform 0.8s ease 0.6s;
  transition: transform 0.8s ease 0.6s, -webkit-transform 0.8s ease 0.6s;
}

.stitem {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.square {
  width: 40px;
  height: 40px;
  background-color: #ffc72c;
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .square {
    width: 25px;
    height: 25px;
  }
}

.sttext {
  text-align: justify;
  width: 100%;
  font-family: play;
  font-weight: 400;
  font-size: 25px;
  color: #d0d0f2;
  text-shadow: 0 0 20px black;
}

@media (max-width: 480px) {
  .sttext {
    font-size: 15px;
  }
}

.cont {
  width: 50%;
}

.cont-list {
  height: 100%;
  max-height: 250px;
}

@media (max-width: 1024px) {
  .cont-list {
    width: 100%;
  }
}

.cont-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .cont-img {
    width: 100%;
    min-height: 200px;
  }
}

@media (max-width: 1024px) {
  .cont {
    width: 100%;
  }
}

.parallax-container {
  min-height: 100vh;
}

.parallax-container-small {
  min-height: 50vh;
  max-height: 50vh;
}

.parallax {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-animation: runArrow 5s infinite;
          animation: runArrow 5s infinite;
}

.arrowBg {
  width: 115px;
  height: 107px;
  background: url(../images/SVG/GreenArrow_2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.arrowBg-sec {
  width: 115px;
  height: 115px;
  background: url(../images/SVG/TopLeftArrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: 10s linear 0s normal none infinite running rotateZ;
          animation: 10s linear 0s normal none infinite running rotateZ;
}

.arrowBg-three {
  width: 115px;
  height: 115px;
  background: url(../images/SVG/TopArrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: 10s linear 0s normal none infinite running rotateZ;
          animation: 10s linear 0s normal none infinite running rotateZ;
}

.arrowBg-four {
  width: 115px;
  height: 115px;
  background: url(../images/SVG/TopRightArrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: 10s linear 0s normal none infinite running rotateZ;
          animation: 10s linear 0s normal none infinite running rotateZ;
}

@-webkit-keyframes runArrow {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  50% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  75% {
    -webkit-transform: translateX(75%);
            transform: translateX(75%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes runArrow {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  50% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  75% {
    -webkit-transform: translateX(75%);
            transform: translateX(75%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes rotateZ {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotateZ {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.parheader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .parheader {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header {
  width: 100%;
  height: 100vh;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 100px;
  height: 100px;
  background: url(../images/Logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .header__logo {
    width: 50px;
    height: 50px;
  }
}

.header__logoimg {
  height: 100%;
}

.header__menu {
  width: 66.66667%;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header__toggle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__items {
  display: none;
}

.header__items.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: #fff;
  font-family: play;
  font-size: 30px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__item {
  background-color: rgba(255, 0, 137, 0.5);
  width: 300px;
  text-align: center;
}

.header__item:hover a {
  color: #000;
}

.header__contacts {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contlink {
  text-decoration: none;
  color: #fff;
  font-family: play;
  font-size: 20px;
}

.header__main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.header__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4c4c4c;
}

@media (max-width: 1024px) {
  .header__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__shortinfo {
  width: 100%;
  font-family: playB;
  font-size: 30px;
  color: #fff;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
}

@media (max-width: 1024px) {
  .header__shortinfo {
    font-size: 15px;
  }
}

.header__shortinfo._active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.toggle {
  width: 200px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  font-family: neo;
  font-size: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.toggle:hover {
  -webkit-box-shadow: 0 0 0.5em #ff0089, 0 0 0.1em #ff0089;
          box-shadow: 0 0 0.5em #ff0089, 0 0 0.1em #ff0089;
  background-color: rgba(255, 0, 137, 0.5);
}

.toggle-blink h2 {
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff0089, 0 0 0.5em #ff0089, 0 0 0.1em #ff0089, 0 5px 1px #000;
}

.toggle-blink h2 span {
  -webkit-animation: blink linear infinite 2s;
          animation: blink linear infinite 2s;
}

.toggle-blink h2 span:nth-of-type(2) {
  -webkit-animation: blink linear infinite 3s;
          animation: blink linear infinite 3s;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__content {
  width: 100%;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__image {
  width: 25%;
}

.main__about {
  margin-left: 10px;
  width: 75%;
  text-align: justify;
  font-family: play;
  color: #fee;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .main__about {
    font-size: 15px;
  }
}

.main__button {
  font-family: playB;
  width: 75%;
  height: 100px;
  margin-top: 20px;
  background: #1616dd;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: blic 1s infinite;
          animation: blic 1s infinite;
}

.main__button:hover {
  -webkit-animation: none;
          animation: none;
  color: #000;
  background-color: #fcd833;
}

.main__img {
  width: 100%;
}

.main__stela {
  min-width: 100%;
  min-height: 100%;
  background: url(../images/SVG/Stella_2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (max-width: 1024px) {
  .main__stela {
    min-height: 350px;
  }
}

.main__cube {
  width: 100%;
  min-height: 500px;
  background: linear-gradient(45deg, #d0d0f2, #0f0e90);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__slice {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: linear-gradient(45deg, #d0d0f2, #0f0e90);
}

@media (max-width: 1024px) {
  .main__slice {
    min-height: 400px;
  }
}

.main__examples {
  width: 100%;
  min-height: 455px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__works {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.main__works._active li:nth-child(1) {
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.main__works._active li:nth-child(2) {
  -webkit-transition: -webkit-transform 0.8s ease 0.4s;
  transition: -webkit-transform 0.8s ease 0.4s;
  transition: transform 0.8s ease 0.4s;
  transition: transform 0.8s ease 0.4s, -webkit-transform 0.8s ease 0.4s;
}

.main__works._active li:nth-child(3) {
  -webkit-transition: -webkit-transform 0.8s ease 0.6s;
  transition: -webkit-transform 0.8s ease 0.6s;
  transition: transform 0.8s ease 0.6s;
  transition: transform 0.8s ease 0.6s, -webkit-transform 0.8s ease 0.6s;
}

.main__works._active li:nth-child(4) {
  -webkit-transition: -webkit-transform 0.8s ease 0.8s;
  transition: -webkit-transform 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, -webkit-transform 0.8s ease 0.8s;
}

.main__works._active li:nth-child(5) {
  -webkit-transition: -webkit-transform 0.8s ease 1s;
  transition: -webkit-transform 0.8s ease 1s;
  transition: transform 0.8s ease 1s;
  transition: transform 0.8s ease 1s, -webkit-transform 0.8s ease 1s;
}

.main__works._active li:nth-child(6) {
  -webkit-transition: -webkit-transform 0.8s ease 1.2s;
  transition: -webkit-transform 0.8s ease 1.2s;
  transition: transform 0.8s ease 1.2s;
  transition: transform 0.8s ease 1.2s, -webkit-transform 0.8s ease 1.2s;
}

.main__works._active li:nth-child(7) {
  -webkit-transition: -webkit-transform 0.8s ease 1.4s;
  transition: -webkit-transform 0.8s ease 1.4s;
  transition: transform 0.8s ease 1.4s;
  transition: transform 0.8s ease 1.4s, -webkit-transform 0.8s ease 1.4s;
}

.main__works._active li:nth-child(8) {
  -webkit-transition: -webkit-transform 0.8s ease 1.6s;
  transition: -webkit-transform 0.8s ease 1.6s;
  transition: transform 0.8s ease 1.6s;
  transition: transform 0.8s ease 1.6s, -webkit-transform 0.8s ease 1.6s;
}

.main__works._active li:nth-child(9) {
  -webkit-transition: -webkit-transform 0.8s ease 1.8s;
  transition: -webkit-transform 0.8s ease 1.8s;
  transition: transform 0.8s ease 1.8s;
  transition: transform 0.8s ease 1.8s, -webkit-transform 0.8s ease 1.8s;
}

.main__works._active li:nth-child(10) {
  -webkit-transition: -webkit-transform 0.8s ease 2s;
  transition: -webkit-transform 0.8s ease 2s;
  transition: transform 0.8s ease 2s;
  transition: transform 0.8s ease 2s, -webkit-transform 0.8s ease 2s;
}

.main__works._active li:nth-child(11) {
  -webkit-transition: -webkit-transform 0.8s ease 2.2s;
  transition: -webkit-transform 0.8s ease 2.2s;
  transition: transform 0.8s ease 2.2s;
  transition: transform 0.8s ease 2.2s, -webkit-transform 0.8s ease 2.2s;
}

.main__works._active li:nth-child(12) {
  -webkit-transition: -webkit-transform 0.8s ease 2.4s;
  transition: -webkit-transform 0.8s ease 2.4s;
  transition: transform 0.8s ease 2.4s;
  transition: transform 0.8s ease 2.4s, -webkit-transform 0.8s ease 2.4s;
}

.main__works li {
  -webkit-transform: translate(600%, 0px);
          transform: translate(600%, 0px);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
}

.main__works._active li {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.main__work {
  width: 16.66667%;
  height: 250px;
  overflow: hidden;
}

.main__work:hover .hover {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

@media (max-width: 1024px) {
  .main__work {
    width: 25%;
  }
}

@media (max-width: 480px) {
  .main__work {
    width: 50%;
  }
}

.main__picture {
  position: relative;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__workimg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__row {
  width: 50%;
  height: 50px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__row-addres {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 480px) {
  .footer__row {
    width: 100%;
  }
}

.footer__label {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4c4c4c;
  font-family: play;
  font-size: 19px;
  text-align: justify;
}

@media (max-width: 480px) {
  .footer__label {
    font-size: 10px;
  }
}

.footer__input {
  width: 75%;
  border: none;
}

.footer__submit {
  width: 100%;
  border-radius: 25px;
  color: #fff;
  font-size: 2em;
  font-family: play;
  border: none;
  -webkit-animation: 1s blic infinite;
          animation: 1s blic infinite;
}

.footer__submit:hover {
  -webkit-animation: none;
          animation: none;
  color: #000;
  background-color: #fcd833;
}

.footer__link {
  text-decoration: none;
  color: #ffc72c;
  font-size: 25px;
}

.footer__text {
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: ogilvie;
  font-size: 20px;
  text-align: justify;
}

.footer__text-yellow {
  color: #ffc72c;
  font-size: 25px;
}

@media (max-width: 480px) {
  .footer__text {
    font-size: 10px;
  }
}

.btnlink {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-decoration: none;
  font-family: ogilvie;
  font-size: 30px;
}

.sliceimg {
  margin: 100px 0 100px 0;
  position: relative;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 600px;
}

@media (max-width: 1024px) {
  .sliceimg {
    margin: 50px 0 50px 0;
    min-height: 400px;
    max-height: 400px;
  }
}

.sliceimg:hover .first {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sliceimg:hover .third {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.img {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

.first {
  width: 25%;
  background: url(../images/SVG/First.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: 1s all;
  transition: 1s all;
}

@media (max-width: 1024px) {
  .first {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.second {
  width: 25%;
  background: url(../images/SVG/Second.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.third {
  width: 25%;
  background: url(../images/SVG/Third.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: 1s all;
  transition: 1s all;
}

@media (max-width: 1024px) {
  .third {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

.hover {
  background: rgba(0, 0, 255, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  opacity: 0;
}

.hover__zoom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100vw;
  display: none;
}

.popup_bg {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.popup_img {
  max-height: 75%;
}

@media (max-width: 480px) {
  .popup_img {
    width: 300px;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform-origin: center top;
            transform-origin: center top;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  100% {
    -webkit-transform-origin: center top;
            transform-origin: center top;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform-origin: center top;
            transform-origin: center top;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  100% {
    -webkit-transform-origin: center top;
            transform-origin: center top;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@-webkit-keyframes blic {
  0% {
    background-color: #8a16c4;
  }
  50% {
    background-color: #0f0e90;
  }
  100% {
    background-color: #8a16c4;
  }
}

@keyframes blic {
  0% {
    background-color: #8a16c4;
  }
  50% {
    background-color: #0f0e90;
  }
  100% {
    background-color: #8a16c4;
  }
}
/*# sourceMappingURL=main1.css.map */