@font-face {
  font-family: 'gotham_med_reg';
  src: url(../fonts/Gotham_Medium_Regular.ttf);
  src: url(../fonts/gotham-medium-webfont.woff);
  src: url(../fonts/gotham-medium-webfont.woff2);
}

@font-face {
  font-family: 'Gotham_Book';
  src: url(../fonts/GothamBook.ttf);
  src: url(../fonts/GothamBook.eot);
  src: url(../fonts/GothamBook.woff);
}

@font-face {
  font-family: 'Gotham_B';
  src: url(../fonts/GothamBook.woff);
}

@font-face {
  font-family: 'Gotham_Bold';
  src: url(../fonts/gothambold1.ttf);
  src: url(../fonts/gothambold1.eot);
  src: url(../fonts/gothambold1.woff);
}

@-webkit-keyframes backgroundImg {
  25% {
    background-image: url(../img/Second.png);
  }
  50% {
    background-image: url(../img/Third.png);
  }
  75% {
    background-image: url(../img/Fourth.png);
  }
}

@keyframes backgroundImg {
  25% {
    background-image: url(../img/Second.png);
  }
  50% {
    background-image: url(../img/Third.png);
  }
  75% {
    background-image: url(../img/Fourth.png);
  }
}

* {
  margin: 0;
  padding: 0;
}

.active {
  background-color: #2c4058;
}

.header {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/First.png);
  background-size: cover;
  background-position: bottom center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-animation-name: backgroundImg;
          animation-name: backgroundImg;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.header__title {
  width: 100%;
  text-transform: uppercase;
  font-family: 'Gotham_Bold';
  font-size: 70pt;
  color: #fff;
}

@media (max-width: 480px) {
  .header__title {
    font-size: 50pt;
  }
}

.header__about {
  text-transform: uppercase;
  font-family: 'Gotham_Book';
  font-size: 18pt;
  color: #fff;
}

.header__arrow {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.inner {
  width: 100%;
  text-align: center;
}

.bubbles {
  z-index: 1;
  right: 25px;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
}

.bubbles__link {
  border-radius: 50%;
}

.bubbles__item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #2c4058;
}

.bubbles__item:hover {
  background: #2c4058;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
}

.wrapper_small {
  max-width: 800px;
}

.wrapper_absolute {
  position: absolute;
}

@media (max-width: 1280px) {
  .wrapper {
    max-width: 1000px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 900px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    max-width: 700px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    max-width: 400px;
  }
}

@media (max-width: 375px) {
  .wrapper {
    max-width: 350px;
  }
}

@media (max-width: 320px) {
  .wrapper {
    max-width: 300px;
  }
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1280px) {
  .navigation__menu {
    width: 24px;
  }
}

.navigation__toggler {
  display: none;
}

@media (max-width: 1280px) {
  .navigation__toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}

.navigation__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  color: #fff;
  font-family: 'gotham_med_reg';
  text-transform: uppercase;
  font-size: 14pt;
}

@media (max-width: 1280px) {
  .navigation__items {
    width: 100%;
    display: none;
    top: 50px;
    left: 0;
    position: absolute;
    background: #7d5cf9;
  }
}

.navigation__link {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'gotham_med_reg';
  text-transform: uppercase;
  font-size: 14pt;
}

.navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1280px) {
  .navigation__item {
    height: 24px;
  }
}

.circle_hover {
  background: #fff;
  font-family: 'Gotham_Bold';
}

.circle {
  margin: 15px;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__link {
  display: block;
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.socials__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.socials__item:hover {
  background: #fff;
}

.socials__item:hover .socials__logo {
  fill: #7d5cf9;
}

.first_section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.title {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

.title_left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 0;
}

.title_form {
  padding-top: 60px;
}

.title__line {
  width: 100px;
  height: 1px;
  border: none;
  background: #2c4058;
  margin-bottom: 40px;
}

.title__line_white {
  background: #fff;
}

.title__title {
  font-family: 'Gotham_Bold';
  font-size: 44pt;
  text-transform: uppercase;
  color: #2c4058;
}

.title__title_small {
  font-size: 34pt;
}

.title__title_white {
  color: #fff;
}

.title__small {
  font-family: 'Gotham_Book';
  font-size: 22pt;
  text-transform: uppercase;
  color: #2c4058;
}

.background {
  width: 100%;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.background_right {
  padding-top: 210px;
  padding-bottom: 210px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1280px) {
  .background {
    padding: 0;
  }
  .background__img {
    display: none;
  }
}

.inner_project {
  position: absolute;
  padding: 70px 0 70px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1280px) {
  .inner_project {
    position: unset;
  }
}

.project {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__image {
  width: 100%;
}

.project__about {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding-top: 40px;
}

.project__address {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18pt;
  font-weight: 700;
}

.project__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.project__description {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1280px) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project_left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.button {
  width: 190px;
  height: 50px;
  margin-top: 35px;
  margin-bottom: 55px;
  font-family: 'gotham_med_reg';
  font-size: 14pt;
  text-transform: uppercase;
  color: #2c4058;
  border: 1px solid #2c4058;
  background: none;
}

.button_gallery {
  margin-top: 60px;
  margin-bottom: none;
}

.button_small {
  width: 135px;
}

.button_hover {
  border: 1px solid #55b7ff;
  color: #55b7ff;
}

.inner_img {
  width: 50%;
}

@media (max-width: 1280px) {
  .inner_img {
    width: 100%;
  }
}

.inner_text {
  width: 50%;
  padding-left: 60px;
}

.inner_text_left {
  padding-left: 0;
  padding-right: 50px;
}

@media (max-width: 1280px) {
  .inner_text {
    width: 100%;
    padding: 0;
  }
}

.second_section {
  width: 100%;
  min-height: 1035px;
  background-image: url(../img/BgNews.jpeg);
  background-size: cover;
  background-position: top center;
}

.inner_news {
  padding-top: 85px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__link {
  text-decoration: none;
  height: 100%;
}

@media (max-width: 1024px) {
  .news__link {
    width: 100%;
  }
}

.news__img {
  position: relative;
}

.news__im {
  width: 100%;
}

.news__hover {
  display: none;
  width: 370px;
  height: 240px;
  position: absolute;
  background: rgba(44, 64, 88, 0.5);
}

.news__item {
  max-width: 370px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.news__text {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 20px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: 'Gotham_Bold';
  font-size: 22pt;
  text-transform: uppercase;
  color: #2c4058;
}

.news__description {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  font-size: 18pt;
  color: #4b5562;
}

.news__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news__details {
  padding-left: 20px;
}

.news__author {
  padding: 30px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__name {
  font-family: 'gotham_med_reg';
  font-size: 18pt;
  color: #2c4058;
  text-transform: uppercase;
}

.news__date {
  font-family: 'gotham_med_reg';
  font-size: 14pt;
  color: #646464;
}

.news_hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.cont {
  height: 650px;
}

.third_section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.inner_gallery {
  padding: 95px 15px 140px 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.gallery__big {
  min-width: 570px;
  min-height: 440px;
  background-image: url(../img/BigImg.jpeg);
  background-size: cover;
}

.gallery__small {
  width: 50%;
  min-height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 1280px) {
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery__big {
    width: 100%;
    min-height: unset;
  }
  .gallery__small {
    width: 100%;
    min-height: unset;
  }
}

.inner_footer {
  padding: 0 15px 0 15px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__map {
  width: 100%;
  min-height: 700px;
}

.footer__section {
  width: 100%;
  position: relative;
}

.footer__footer {
  width: 100%;
  min-height: 524px;
  background-image: url(../img/FooterBG.jpeg);
  background-size: cover;
  background-position: bottom right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 768px) {
  .footer__footer {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .footer__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
}

@media (max-width: 768px) {
  .footer__about {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__line {
  height: 20px;
  width: 1px;
  border: none;
  background: #fff;
  margin: 0 20px 0 20px;
}

@media (max-width: 768px) {
  .footer__line {
    display: none;
  }
}

.footer__text {
  color: #fff;
  font-family: 'Gotham_Book';
  font-size: 14pt;
}

@media (max-width: 768px) {
  .footer__text {
    width: 100%;
  }
}

.footer__form {
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 40px 0;
}

.footer__details {
  font-family: 'Gotham_Book';
  font-size: 16pt;
  color: #2c4058;
  padding-left: 15px;
}

.footer__send {
  width: 100%;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .footer__send {
    padding: 0;
  }
}

.footer__name {
  width: 100%;
  height: 55px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Gotham_Bold';
  font-size: 18pt;
  color: #2c4058;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__name::-webkit-input-placeholder {
  font-family: 'gotham_med_reg';
  font-size: 18pt;
}

.footer__name:-ms-input-placeholder {
  font-family: 'gotham_med_reg';
  font-size: 18pt;
}

.footer__name::-ms-input-placeholder {
  font-family: 'gotham_med_reg';
  font-size: 18pt;
}

.footer__name::placeholder {
  font-family: 'gotham_med_reg';
  font-size: 18pt;
}

.footer__mail {
  width: 100%;
  height: 55px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Gotham_Bold';
  font-size: 18pt;
  color: #2c4058;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__mail::-webkit-input-placeholder {
  font-family: 'gotham_med_reg';
  font-size: 18pt;
}

.footer__mail:-ms-input-placeholder {
  font-family: 'gotham_med_reg';
  font-size: 18pt;
}

.footer__mail::-ms-input-placeholder {
  font-family: 'gotham_med_reg';
  font-size: 18pt;
}

.footer__mail::placeholder {
  font-family: 'gotham_med_reg';
  font-size: 18pt;
}

.footer__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.input_hover {
  border-bottom: 2px solid #2c4058;
}

.left {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 768px) {
  .left {
    width: 100%;
  }
}

.right {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: right;
      align-content: right;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .right {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */